.wrapper__text {
  margin-bottom: 40px;
}

.wrapper__text h1 {
  font-size: 6.59vw;
  line-height: 105.5%;
  letter-spacing: -0.034em;
  text-transform: uppercase;
  color: #0E0E0E;
  margin-bottom: 32px;
}

.wrapper__text__blocks {
  display: flex;
}

.wrapper__text__blocks__item {
  width: 50%;
}

.wrapper__text__blocks__item:first-of-type {
  margin-right: 24px;
}

.wrapper__text__blocks__item p {
  margin-bottom: 21px;
  font-size: 21px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.034em;
  color: #0E0E0E;
}

/* СТИЛИ ДЛЯ КАРТИНОК */
.pic-big,
.pic-blocks,
.text-pic {
  margin-bottom: 40px;
}

.pic-big {
  width: 100%;
  height: 40vw;
}

.pic-big,
.pic-block,
.text-pic__inner {
  border-radius: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pic-blocks {
  display: flex;
}

.pic-block {
  width: 50%;
  height: 30vw;
}
.pic-block:first-of-type {
  margin-right: 20px;
}

.text-pic {
  display: flex;
}
.text-pic__paragraph {
  width: 40%;
  margin-right: 20px;
  margin-top: 24px;
  font-weight: 600;
  line-height: 120%;
}
.text-pic__inner {
  width: 100%;
  height: 38vw;
}
.text-pic-reverse .text-pic__paragraph {
  margin-right: 0;
}
.text-pic-reverse .text-pic__inner {
  margin-right: 20px;
}

.inner__footer {
  margin-top: 40px;
}
.inner__footer__links {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.inner__footer__links a {
  font-weight: 500;
  font-size: 5vw;
  line-height: 105.5%;
  letter-spacing: -0.034em;
  text-transform: uppercase;
  color: #0E0E0E;
}
.inner__footer__links a:hover {
  color: #313030;
}

@media (max-width: 425px) {
  .wrapper__text {
    padding-top: 15vw;
  }

  .wrapper__text h1 {
    font-size: 12vw;
    margin-bottom: 24px;
  }

  .wrapper__text__blocks {
    flex-direction: column;
  }

  .wrapper__text__blocks__item {
    width: 100%;
  }

  .wrapper__text__blocks__item p {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .pic-big,
  .pic-block,
  .text-pic__inner {
    border-radius: 16px;
    width: 100%;
    height: 52vw;
  }

  .pic-big,
  .pic-blocks,
  .text-pic {
    margin-bottom: 24px;
  }

  .pic-blocks {
    flex-direction: column;
  }

  .pic-block:first-of-type {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .text-pic {
    flex-direction: column;
  }

  .text-pic__paragraph {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 12px;
  }

  .inner__footer__links a {
    font-size: 8vw;
  }
}
/* Контент наполнение картинками */

/* POINT */
.point1 {
  background-image: url('../images/point.jpg');
}
.point2 {
  background-image: url('../images/point2.jpg');
}
.point3 {
  background-image: url('../images/point3.jpg');
}
.point4 {
  background-image: url('../images/point4.jpg');
}
.point5 {
  background-image: url('../images/point5.jpg');
}
.point6 {
  background-image: url('../images/point6.jpg');
}
.point7 {
  background-image: url('../images/point7.jpg');
}

/* VTB */
.vtb1 {
  background-image: url('../images/vtb1.jpg');
}
.vtb2 {
  background-image: url('../images/vtb2.jpg');
}
.vtb3 {
  background-image: url('../images/vtb3.jpg');
}
.vtb4 {
  background-image: url('../images/vtb4.jpg');
}
.vtb5 {
  background-image: url('../images/vtb5.jpg');
}
.vtb6 {
  background-image: url('../images/vtb6.jpg');
}
.vtb7 {
  background-image: url('../images/vtb7.jpg');
}
.vtb8 {
  background-image: url('../images/vtb8.jpg');
}
.vtb9 {
  background-image: url('../images/vtb9.jpg');
}
.vtb10 {
  background-image: url('../images/vtb10.jpg');
}
.vtb11 {
  background-image: url('../images/vtb11.jpg');
}
.vtb12 {
  background-image: url('../images/vtb12.jpg');
}
.vtb13 {
  background-image: url('../images/vtb13.jpg');
}

/* SURFACE */
.surface1 {
  background-image: url('../images/surface1.jpg');
}
.surface2 {
  background-image: url('../images/surface2.jpg');
}
.surface3 {
  background-image: url('../images/surface3.jpg');
}
.surface4 {
  background-image: url('../images/surface4.jpg');
}
.surface5 {
  background-image: url('../images/surface5.jpg');
}
.surface6 {
  background-image: url('../images/surface6.jpg');
}
.surface7 {
  background-image: url('../images/surface7.jpg');
}
.surface8 {
  background-image: url('../images/surface8.jpg');
}
.surface9 {
  background-image: url('../images/surface9.jpg');
}
.surface10 {
  background-image: url('../images/surface10.jpg');
}
.surface11 {
  background-image: url('../images/surface11.jpg');
}
.surface12 {
  background-image: url('../images/surface12.jpg');
}


/* SURFACE IDENTITY */
.surf1 {
  background-image: url('../images/surf1.jpg');
}
.surf2 {
  background-image: url('../images/surf2.jpg');
}
.surf3 {
  background-image: url('../images/surf3.jpg');
}
.surf4 {
  background-image: url('../images/surf4.jpg');
}
.surf5 {
  background-image: url('../images/surf5.jpg');
}
.surf6 {
  background-image: url('../images/surf6.jpg');
}
.surf7 {
  background-image: url('../images/surf7.jpg');
}
.surf8 {
  background-image: url('../images/surf8.jpg');
}
.surf10 {
  background-image: url('../images/surf10.jpg');
}
.surf11 {
  background-image: url('../images/surf11.jpg');
}
.surf12 {
  background-image: url('../images/surf12.jpg');
}
.surf13 {
  background-image: url('../images/surf13.jpg');
}
.surf14 {
  background-image: url('../images/surf14.jpg');
}

/* UNLEASH */
.unleash1 {
  background-image: url('../images/unleash1.jpg');
}
.unleash2 {
  background-image: url('../images/unleash2.jpg');
}
.unleash3 {
  background-image: url('../images/unleash3.jpg');
}
.unleash4 {
  background-image: url('../images/unleash4.jpg');
}
.unleash5 {
  background-image: url('../images/unleash5.jpg');
}
.unleash6 {
  background-image: url('../images/unleash6.jpg');
}
.unleash7 {
  background-image: url('../images/unleash7.jpg');
}
.unleash8 {
  background-image: url('../images/unleash8.jpg');
}
.unleash9 {
  background-image: url('../images/unleash9.jpg');
}
.unleash10 {
  background-image: url('../images/unleash10.jpg');
}
.unleash11 {
  background-image: url('../images/unleash11.jpg');
}
.unleash12 {
  background-image: url('../images/unleash12.jpg');
}
.unleash13 {
  background-image: url('../images/unleash13.jpg');
}
.unleash14 {
  background-image: url('../images/unleash14.jpg');
}
.unleash15 {
  background-image: url('../images/unleash15.jpg');
}
.unleash16 {
  background-image: url('../images/unleash16.jpg');
}
.unleash17 {
  background-image: url('../images/unleash17.jpg');
}
.unleash18 {
  background-image: url('../images/unleash18.jpg');
}
